# Gitingore para el proyuecto de Django en la carpeta back-end
back-end/__pycache__/
back-end/*.pyc
back-end/*.pyo
back-end/*.pyd
back-end/env/
back-end/venv/
back-end/.env
back-end/.env.*
back-end/db.sqlite3
back-end/staticfiles/
back-end/media/
back-end/.mypy_cache/
back-end/.pytest_cache/
back-end/.vscode/
back-end/.idea/
back-end/.DS_Store